@model BrandViewModel
@{
    ViewBag.Title = "Create Brand";
}
<h2 class="text-center text-success">THÊM THƯƠNG HIỆU</h2>
<form enctype="multipart/form-data" asp-controller="Brand" asp-action="Create" method="post" class="mt-2">
    <div class="col-xl-12">
        <div style="padding-left: 50px;">
            <div class="row form-group">
                <div class="col-sm-2">
                    <label asp-for="BrandName"></label>
                </div>
                <div class="col-sm-5">
                    <input asp-for="BrandName" class="form-control" />
                    <span asp-validation-for="BrandName" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row form-group text-left">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary">Tạo</button>
                <a asp-controller="Brand" asp-action="Index" class="btn btn-warning">Hủy</a>
            </div>
        </div>
    </div>
</form>
