@model List<Brand>
@{
    ViewData["Title"] = "Brands List";
}

<div class="text-left">
    <br />
    <h3 class="display-4 text-success text-center">QUẢN LÝ THƯƠNG HIỆU</h3>
    @if (TempData["Message"] != null)
    {
        <p class="alert alert-default-success">@TempData["Message"]</p>
    }
    <a asp-controller="Brand" asp-action="Create" class="btn btn-primary" style="width: auto;">+ Thêm thương hiệu</a>
    <hr />
    <table id="tbBrands" class="table table-bordered table-hover table-primary">
        <thead class="thead-dark">
            <tr>
                <th>#ID</th>
                <th>Tên thương hiệu</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var brand in Model)
            {
                if (!brand.IsDelete)
                {
                    <tr>
                        <td>@brand.BrandId</td>
                        <td>@brand.BrandName</td>
                        <td>
                            <a href="/Brand/Edit/@brand.BrandId" class="text-warning mx-2"><i class="fas fa-edit"></i></a>
                            <a href="javascript:void(0)" class="text-danger mx-2" onclick="brands.delete(@brand.BrandId)"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
@section Scripts{
    <script src="~/lib/bootbox.js/bootbox.min.js"></script>
    <script src="~/js/brand.js" asp-append-version="true"></script>
}