@model List<Category>
@{
    ViewData["Title"] = "Categories List";
}

<div class="text-left">
    <br />
    <h3 class="display-4 text-success text-center">QUẢN LÝ LOẠI HÀNG</h3>
    @if (TempData["Message"] != null)
    {
        <p class="alert alert-default-success">@TempData["Message"]</p>
    }
    <a asp-controller="Catergory" asp-action="Create" class="btn btn-primary" style="width: auto;">+ Thêm loại hàng</a>
    <hr />
    <table id="tbCategories" class="table table-bordered table-hover table-primary">
        <thead class="thead-dark">
            <tr>
                <th>#ID</th>
                <th>Tên loại hàng</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                if (!category.IsDelete)
                {
                    <tr>
                        <td>@category.CategoryId</td>
                        <td>@category.CategoryName</td>
                        <td>
                            <a href="/Catergory/Edit/@category.CategoryId" class="text-warning mx-4"><i class="fas fa-edit"></i></a>
                            <a href="javascript:void(0)" class="text-danger mx-4" onclick="categories.delete(@category.CategoryId)"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
@section Scripts{
    <script src="~/lib/bootbox.js/bootbox.min.js"></script>
    <script src="~/js/category.js" asp-append-version="true"></script>
}