@{
    ViewBag.Title = "Error";
}
<div class="alert alert-danger">
    <h1>
        Error 404
    </h1>
    <hr />
</div>
<a asp-controller="Home" asp-action="Index" class="btn btn-outline-danger" style="width:auto">
    Click here come back to home
</a>